
<link rel="stylesheet" type="text/css" href="css/input.css">
<body>
<h1 id="heading" name="my_heading" class="heading_wombat"> Show Me The Money!! </h1>
<form method = "post" action = "get_change"> <!--action is where you're routing data -->
<div class="input_container">	
	<input type = "text" name = "input_number" class = "text_box">
	<input type = "Submit" value = "Get Change!" class = "submit_box"> <!--value changes the submit button -->
</div>
</form>
<% result.each_pair do |key, value| %>
	<% if value > 0 %>
		<% if value > 1 %>
			<%= value %> <!-- the equals sign (=) means it shows on 	user screen -->
			<% if key.to_s == "penny" && value > 1 %>
				<%= key = "pennies" %>
			<% elsif value > 1 %>
				<%= key.to_s + "s" %>
			<% end %>
	<% else %>
		<%= value %>
		<%= key %>
		<% end %>
	<% end %>
<% end %>
</body>		